@use "../style/partials/variables" as *;
@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid, .container{
    --bs-gutter-x: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

img{
    max-width: 100%;
    --bs-gutter-x: 0;

}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.title-font {
    font-family: "Merriweather" , serif;
    font-weight: bold;
}

.primary-color {
    color: $primary-color;
}